h1  {
    font-size: 45px;
    text-align: center;
}

h3  {
    font-size: 20px;
    text-align: left;
}

h1,
h3  {
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img,
.recipe-img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    width: 225px;
}

.recipe-img {
    width: 400px;
}

.description   {
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

#link  {
    color: rgb(133, 133, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.list    {
    color: rgb(133, 133, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
}

.list .em  {
    color: rgb(117, 117, 117);
}